{
    "presets": ["babel-preset-expo"],
    "plugins": [
        ["module-resolver", {
            "root": [".."],
            "alias": {
                "APIConfig": "./config.class.apiphp.js",
                "libs": "./src/libs",
                "store": "./src/store",
                "constants": "./src/constants",
                "components": "./src/native/components",
                "containers": "./src/native/containers"
            }
        }]
    ],
    "env": {
        "development": {
            "plugins": ["transform-react-jsx-source"]
        }
    }
}
